$phone             : 480px !default;
$tablet            : 768px !default;
$laptop            : 992px !default;
$desktop           : 1200px !default;

$breakpoints: (
        'sm_': $phone,
        'md_': $tablet,
        'lg_': $laptop,
        'xl_': $desktop,
);

@import "basic/init";
@import "basic/maps";
@import "basic/colors";
@import "basic/classes";
