@import "basic/color-functions";
//-----------------------------------------------------------
//Breakpoints
//-----------------------------------------------------------
$phone       : 480px !default;
$tablet      : 768px !default;
$laptop      : 992px !default;
$desktop     : 1200px !default;

$breakpoints : (
        'sm_': $phone,
        'md_': $tablet,
        'lg_': $laptop,
        'xl_': $desktop,
);
//-----------------------------------------------------------
//Colors
//-----------------------------------------------------------
$gray-10     : hsl(212, 0%, 10%);
$gray-20     : hsl(212, 0%, 20%);
$gray-30     : hsl(212, 0%, 30%);
$gray-40     : hsl(212, 0%, 40%);
$gray-50     : hsl(212, 0%, 50%);
$gray-60     : hsl(212, 0%, 60%);
$gray-70     : hsl(212, 0%, 70%);
$gray-80     : hsl(212, 0%, 80%);
$gray-90     : hsl(212, 0%, 90%);
$white       : hsl(212, 0%, 100%);

$primary     : hsl(212, 50%, 50%);
$secondary   : hsl(212, 30%, 50%);
$danger      : hsl(0, 70%, 50%);
$success     : hsl(150, 70%, 30%);
$warning     : hsl(30, 100%, 50%);

$colors      : (
        "primary" : $primary,
        "secondary" : $secondary,
        "danger" : $danger,
        "success" : $success,
        "warning" : $warning
);

//-----------------------------------------------------------
//Typography
//-----------------------------------------------------------
$systemFonts : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headingFont : $systemFonts;
$bodyFont    : $systemFonts;


@import "basic/maps";
@import "basic/init";
@import "basic/classes";

//Optional
//Buttons
@import "ui/buttons/_button";
@import "ui/buttons/minimal-link";
@import "ui/buttons/fill";
//Forms
@import "ui/forms/inputs";
@import "ui/forms/input-wrappers";
