//-----------------------------
// Typography Classes
//-----------------------------
@mixin fontSizes($breakpoint) {
  @each $type, $value in $font-sizes {
	.#{$breakpoint}#{$type}, #{$type} {
	  font-size : $value;
	}
  }
}

@mixin fontWeights($breakpoint) {
  @each $type, $value in ("light": 300, "regular": 500, "medium": 700, "bold": 700, "black": 900) {
	.#{$breakpoint}font-#{$type} {
	  font-weight : $value;
	}
  }
}

//-----------------------------
// Display Classes
//-----------------------------
@mixin display($breakpoint) {
  @each $type, $value in $display-classes {
	.#{$breakpoint}d-#{$value} {
	  display : $value !important;
	}
  }
}

//-----------------------------
// Text Classes
//-----------------------------
@mixin text($breakpoint) {
  @each $type, $value in (left: left, right: right, center: center) {
	.#{$breakpoint}text-#{$value} {
	  text-align : $value;
	}
  }
}

//-----------------------------
// Flex Wrap
//-----------------------------
@mixin flex-row-col($breakpoint) {
  @each $type, $value in (row: row, column: column, row-reverse: row-reverse, column-reverse: column-reverse) {
	.#{$breakpoint}flex-#{$type} {
	  flex-direction : $value;
	}
  }
}

//-----------------------------
// Flex Wrap
//-----------------------------
@mixin flex-wrap($breakpoint) {
  @each $type, $value in (wrap: wrap, nowrap: nowrap, wrap-reverse: wrap-reverse) {
	.#{$breakpoint}flex-#{$type} {
	  flex-wrap : $value;
	}
  }
}

//-----------------------------
// Flex Fill
//-----------------------------
@mixin flex-fill($breakpoint) {
  @each $type, $value in (fill: 1 1 auto) {
	.#{$breakpoint}flex-#{$type} {
	  flex : $value;
	}
  }
}

//-----------------------------
// Flex Grow
//-----------------------------
@mixin flex-grow($breakpoint) {
  @each $type, $value in (grow-0: 0, grow-1: 1) {
	.#{$breakpoint}flex-#{$type} {
	  flex-grow : $value;
	}
  }
}

//-----------------------------
// Flex Shrink
//-----------------------------
@mixin flex-shrink($breakpoint) {
  @each $type, $value in (shrink-0: 0, shrink-1: 1) {
	.#{$breakpoint}flex-#{$type} {
	  flex-shrink : $value;
	}
  }
}

//-----------------------------
// Flex Align Items
//-----------------------------
@mixin align-items($breakpoint) {
  @each $type, $value in $align {
	.#{$breakpoint}align-items-#{$type} {
	  align-items : $value;
	}
  }
}

//-----------------------------
// Flex Justify Content
//-----------------------------
@mixin justify-content($breakpoint) {
  @each $type, $value in $justify {
	.#{$breakpoint}justify-content-#{$type} {
	  justify-content : $value;
	}
  }
}

//-----------------------------
// Flex Align Content
//-----------------------------
@mixin align-content($breakpoint) {
  @each $type, $value in $justify {
	.#{$breakpoint}align-content-#{$type} {
	  align-content : $value;
	}
  }
}

//-----------------------------
// Flex Align Self
//-----------------------------
@mixin align-self($breakpoint) {
  $align : map-merge($align, ("auto": auto));
  @each $type, $value in $align {
	.#{$breakpoint}align-self-#{$type} {
	  align-self : $value;
	}
  }
}

//-----------------------------
// Spacers Classes
//-----------------------------
@mixin spacers($breakpoint) {
  @each $prop, $prefix in (margin: m, padding: p) {
	@each $num, $value in $spacers {
	  .#{$breakpoint}#{$prefix}-#{$num} {
		#{$prop}: $value !important;
	  }
	  .#{$breakpoint}#{$prefix}t-#{$num},
	  .#{$breakpoint}#{$prefix}y-#{$num} {
		#{$prop}-top : $value !important;
	  }
	  .#{$breakpoint}#{$prefix}b-#{$num},
	  .#{$breakpoint}#{$prefix}y-#{$num} {
		#{$prop}-bottom : $value !important;
	  }
	  .#{$breakpoint}#{$prefix}l-#{$num},
	  .#{$breakpoint}#{$prefix}x-#{$num} {
		#{$prop}-left : $value !important;
	  }
	  .#{$breakpoint}#{$prefix}r-#{$num},
	  .#{$breakpoint}#{$prefix}x-#{$num} {
		#{$prop}-right : $value !important;
	  }
	}
  }
}

//-----------------------------
// Auto Margins
//-----------------------------
@mixin margin-auto($breakpoint) {
  .#{$breakpoint}mt-auto,
  .#{$breakpoint}my-auto {
	margin-top : auto !important;
  }
  .#{$breakpoint}mb-auto,
  .#{$breakpoint}my-auto {
	margin-bottom : auto !important;
  }
  .#{$breakpoint}ml-auto,
  .#{$breakpoint}mx-auto {
	margin-left : auto !important;
  }
  .#{$breakpoint}mr-auto,
  .#{$breakpoint}mx-auto {
	margin-right : auto !important;
  }
  .#{$breakpoint}m-auto,
  .#{$breakpoint}m-auto {
	margin : auto !important;
  }
}
