@use "../../../src/settings" as st;
@use "../../../src/functions" as fn;

$languages       : (
	"js" : "js",
	"javascript": "js",
	"jsx" : "jsx",
	"scss" : "scss",
	"html": "html",
	"bash": "bash"
);
$languagesColors : (
	"js" : #f7df1e,
	"jsx" : #f7df1e,
	"scss" : #bf4080,
	"html": #f16528,
	"bash": #0273b7
);
.code-highlight, .live-view {
  * {
	margin-top : 0;
  }

  textarea, pre, code {
	font-family : 'Fira Code', monospace !important;
  }
}

.code-highlight .lang-label {
  overflow : auto;

  &::before {
	z-index        : 2;
	line-height    : 1.2;
	position       : absolute;
	left           : 15px;
	top            : 0;
	padding        : 5px 10px;
	border-radius  : 0 0 5px 5px;
	font-size      : st.$small;
	text-transform : uppercase;
  }
}

.lang-label {
  @each $name, $lang in $languages {
	&[class~="language-#{$lang}"]::before {
	  content : $name;
	  @each $l, $color in $languagesColors {
		@if $l == $lang {
		  background : $color;
		  color      : fn.color-contrast($color);
		}
	  }
	}
  }
}

.live-view {
  line-height : st.$pLineHeight;

  textarea, pre {
	padding : map-get(st.$spacers, "xxl") map-get(st.$spacers, "md") map-get(st.$spacers, "lg")!important;
  }
}
