@use "variables" as v;
@use "../../../src/settings" with (
$important: true,
$headingFont: v.$headingFont,
$bodyFont: v.$bodyFont
);
@use "../../../src/utilities/height" with (
$addHeights : ("header": 60px, "sidebar": calc(100vh - 60px), "example": 100px)
);
@use "../../../src/utilities/width" with (
$addWidths : ("80ch": 80ch)
);
@forward "../../../src/mixins";
@forward "../../../src/settings";
@use "../../../src/skil3e";
