@use "skil3e-imports" as sk;
@use "code";
@use "example";

@include sk.makeGrid(12, "col", "--");

@each $name, $value in sk.$breakpoints {
  @media (min-width : $value) {
	@include sk.makeGrid(12, "col", "--", $name);
  }
}

.container {
  max-width : 1400px;
}

nav {
  ul {
	list-style : none;
  }

  a {
	text-decoration : none;
	color           : var(--textDimmed);

	&:hover {
	  color : var(--accent);
	}
  }
}

button.fill.copy {
  background   : var(--bg);
  border-color : var(--bg);
  color        : var(--text);

  &:hover {
	background : var(--accent);
	color      : var(--bg);
  }
}

table {
  border-spacing : 1px 4px;

  th {
	font-size  : sk.$small;
	padding    : map-get(sk.$spacers, "sm")  map-get(sk.$spacers, "md");
	text-align : left;
	background : var(--bgDimmed);
	color      : var(--textDimmed);
  }

  td {
	padding    : map-get(sk.$spacers, "md");
	background : var(--bg);

	&:first-of-type {
	  border-top-left-radius    : 5px;
	  border-bottom-left-radius : 5px;
	}

	&:last-of-type {
	  border-top-right-radius    : 5px;
	  border-bottom-right-radius : 5px;
	}

  }
}
