//-----------------------------------------------------------
//Variables
//-----------------------------------------------------------
$btn_pX            : 1.5rem !default;
$btn_pY            : .625rem !default;
$btn_padding       : $btn_pY $btn_pX !default;
$btn_textTransform : initial !default;
$btn_fontSize      : 100% !default;
$btn_fontWeight    : 500 !default;
$btn_lineHeight    : 1.2 !default;
$btn_borderRadius  : 50rem !default;
$btn_borderWidth   : 1px !default;
$btn_borderStyle   : solid !default;
$btn_border        : 2px solid !default;
$btn_transition    : 200ms ease-in-out !default;

.button, button {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  z-index             : 1;
  position            : relative;
  vertical-align      : middle;
  cursor              : pointer;
  text-transform      : $btn_textTransform;
  font-weight         : $btn_fontWeight;
  font-size           : $btn_fontSize;
  line-height         : $btn_lineHeight;
  text-decoration     : none;
  background          : transparent;
  border              : $btn_border transparent;
  border-radius       : $btn_borderRadius;
  transition          : $btn_transition;
  transition-property : background, color, border;

  .icon {
    transition : fill $btn_transition;
  }

  &.disabled, &:disabled {
    opacity : .65;
    cursor  : not-allowed;
  }

  &:focus {
    outline : none;

    &::after,
    &::before {
      outline : none;
    }
  }

  &.fullwidth {
    width : 100%;
  }
}
