//-----------------------------------------------------------
// Button Link & Minimal Defaults
//-----------------------------------------------------------
.button {
  &.link,
  &.minimal {
    padding : 0;
    border  : none;
    @each $color, $hex in $colors {
      &.#{$color} {
        color : $hex;

        .icon {
          fill : $hex;
        }

        &:not(:disabled):hover {
          color : set-btn-hover-color($hex);

          .icon {
            fill : darken($hex, 7%)
          }
        }
      }
    }
  }

  &.link {
    display         : inline;
    vertical-align  : baseline;
    text-decoration : underline;
  }
}
