//-----------------------------------------------------------
// Button Outline
//-----------------------------------------------------------
.button {
  &.outline {
    @each $color, $hex in $colors {
      &.#{$color} {
        padding    : $btn_padding;
        min-height : 42px;
        border-color : $hex;
        color        : $hex;

        .icon {
          fill : $hex;
        }

        &:not(:disabled):hover {
          background : $hex;
          color      : color-contrast($hex);

          .icon {
            fill : color-contrast($hex);
          }
        }
      }
    }
  }
}
