@use "button-mixins" as btnMx;
@use "../../settings" as st;
@use "../../functions" as fn;
@use "../../utilities/colors" as clr;

//-----------------------------------------------------------
//Variables
//-----------------------------------------------------------
$makeFill        : true !default;
$makeMinimalLink : true !default;
$makeOutline     : true !default;
$borderStyle     : solid !default;

$pX              : 1.5rem !default;
$pY              : .625rem !default;
$padding         : $pY $pX !default;
$colorsLight     : clr.$IL !default;
$colorsDark      : clr.$ID !default;


.button, button {
  display             : inline-flex;
  white-space         : nowrap;
  align-items         : center;
  vertical-align      : middle;
  text-decoration     : none;
  cursor              : pointer;
  background          : transparent;
  color               : var(--text);
  border              : 1px solid transparent;
  transition-property : color, background-color, border;
  transition          : st.$transition-timing;
  padding             : $padding;

  .icon {
	fill                : var(--text);
	transition-property : fill, stroke;
	transition          : st.$transition-timing;
  }

  &.disabled {
	pointer-events : none;
  }

  &.disabled, &:disabled {
	cursor  : not-allowed;
	opacity : .65;
  }

  &:focus {
	outline    : none;
	box-shadow : 0 0 0 2px transparentize(st.$primary, .25);

	&::after,
	&::before {
	  outline : none;
	}
  }
}

//-----------------------------------------------------------
// Button Fill
//-----------------------------------------------------------
@if ($makeFill) {
  .button.fill {
	@include btnMx.makeFillButton(clr.$IL);
  }
  body[data-theme="dark"] .button.fill {
	@include btnMx.makeFillButton(clr.$ID);
  }
}

//-----------------------------------------------------------
// Button Link & Minimal Defaults
//-----------------------------------------------------------
@if ($makeMinimalLink) {
  .button.link,
  .button.minimal {
	background : transparent;
	padding    : 0;
	min-height : 0;
	border     : none;
	@include btnMx.makeMinimalLinkButton(clr.$IL);
  }
  body[data-theme="dark"] {
	.button.link, .button.minimal {
	  @include btnMx.makeMinimalLinkButton(clr.$ID);
	}
  }
  .button.link {
	display         : inline;
	vertical-align  : baseline;
	text-decoration : underline;
  }
}

//-----------------------------------------------------------
// Button Outline
//-----------------------------------------------------------
@if ($makeOutline) {
  .button.outline {
	background : transparent;
	@include btnMx.makeOutlineButton(clr.$IL);
  }

  body[data-theme="dark"] .button.outline {
	background : transparent;
	@include btnMx.makeOutlineButton(clr.$ID);
  }

}
