@use "../../functions" as fn;

@mixin makeFillButton($colors) {
  @each $color, $hex in $colors {
	&.#{$color} {
	  background : $hex;
	  border-color: $hex;
	  color      : fn.color-contrast($hex);

	  .icon, .loader {
		fill : fn.color-contrast($hex);
	  }

	  &:hover:not(:disabled), &:hover:not(.disabled) {
		background : fn.set-hover-color($hex);

		.icon {
		  fill : fn.color-contrast($hex);
		}
	  }
	}
  }
}

@mixin makeMinimalLinkButton($colors) {
  @each $color, $hex in $colors {
	&.#{$color} {
	  color : $hex;

	  .icon, .loader {
		fill : $hex;
	  }

	  &:not(:disabled):hover, &:not(.disabled):hover {
		color : fn.set-hover-color($hex);

		.icon {
		  fill : fn.set-hover-color($hex);
		}
	  }
	}
  }
}

@mixin makeOutlineButton($colors) {
  @each $color, $hex in $colors {
	&.#{$color} {
	  border-color : $hex;
	  color        : $hex;

	  .icon {
		fill : $hex;
	  }

	  &:not(:disabled):hover, &:not(.disabled):hover {
		background : $hex;
		color      : fn.color-contrast($hex);

		.icon {
		  fill : fn.color-contrast($hex);
		}
	  }
	}
  }
}
