@use "../../functions-mixins/acc-colors" as acc;
@use "button";

$colors  : button.$colors !default;
$padding : button.$padding !default;
//-----------------------------------------------------------
// Button Fill
//-----------------------------------------------------------
.button {
  &.fill {
    @each $color, $hex in $colors {
      &.#{$color} {
        padding    : $padding;
        min-height : 42px;
        background : $hex;
        color      : acc.color-contrast($hex);

        .icon, .loader {
          fill : acc.color-contrast($hex);
        }

        &:not(:disabled):hover {
          background : acc.set-hover-color($hex);

          .icon {
            fill : acc.color-contrast($hex);
          }
        }
      }
    }
  }
}
