@use "../..//functions-mixins/acc-colors" as acc;
@use "../../maps";

$colors : maps.$colors !default;
//-----------------------------------------------------------
// Button Link & Minimal Defaults
//-----------------------------------------------------------
.button {
  &.link,
  &.minimal {
    padding : 0;
    border  : none;
    @each $color, $hex in $colors {
      &.#{$color} {
        color : $hex;

        .icon {
          fill : $hex;
        }

        &:not(:disabled):hover {
          color : acc.set-hover-color($hex);

          .icon {
            fill : acc.set-hover-color($hex);
          }
        }
      }
    }
  }

  &.link {
    display         : inline;
    vertical-align  : baseline;
    text-decoration : underline;
  }
}
