@use "../../functions-mixins/acc-colors" as acc;
@use "../../themes";
@use "button";

$colors  : button.$colors !default;
$padding : button.$padding !default;
//-----------------------------------------------------------
// Button Outline
//-----------------------------------------------------------
.button.outline {
  padding    : $padding;
  min-height : 42px;
  @each $color, $hex in $colors {
	&.#{$color} {
	  border-color : $hex;
	  color        : $hex;

	  .icon {
		fill : $hex;
	  }

	  &:not(:disabled):hover {
		background : $hex;
		color      : acc.color-contrast($hex);

		.icon {
		  fill : acc.color-contrast($hex);
		}
	  }
	}
  }

  &.accent {
	$accent      : map-get(themes.$themeLight, "accent");
	color        : $accent;
	border-color : $accent;


	.icon, .loader {
	  fill : $accent;
	}

	&:not(:disabled):hover {
	  background: $accent;
	  color : acc.color-contrast($accent);

	  .icon {
		fill : acc.color-contrast($accent);
	  }
	}
  }
}

body[data-theme="dark"] {
  .button.outline.accent {
	$accent      : map-get(themes.$themeLight, "accent");
	color        : $accent;
	border-color : $accent;


	.icon, .loader {
	  fill : $accent;
	}

	&:not(:disabled):hover {
	  background: $accent;
	  color : acc.color-contrast($accent);

	  .icon {
		fill : acc.color-contrast($accent);
	  }
	}
  }
}
