@use "../../functions-mixins/acc-colors" as acc;
@use "button";

$colors  : button.$colors !default;
$padding : button.$padding !default;
//-----------------------------------------------------------
// Button Outline
//-----------------------------------------------------------
.button {
  &.outline {
    @each $color, $hex in $colors {
      &.#{$color} {
        padding      : $padding;
        min-height   : 42px;
        border-color : $hex;
        color        : $hex;

        .icon {
          fill : $hex;
        }

        &:not(:disabled):hover {
          background : $hex;
          color      : acc.color-contrast($hex);

          .icon {
            fill : acc.color-contrast($hex);
          }
        }
      }
    }
  }
}
