@use "../settings" as st;
@use "../mixins" as mx;

$withBreakPoints  : true !default;
$disableItems     : false !default;
$disableContent   : false !default;
$disableSelf      : false !default;

$divider          : st.$divider !default;
$important        : st.$important !default;
$prefixItems      : "al__it" !default;
$prefixContent    : "al__cnt" !default;
$prefixSelf       : "al__self" !default;

$values            : ('center' : 'center', 'start' : 'start', 'end' : 'end', 'fl-start': 'flex-start', 'fl-end': 'flex-end', 'stretch' : 'stretch') !default;
$addValuesItems   : () !default;
$addValuesContent : () !default;
$addValuesSelf    : () !default;

$align-items      : map-merge($values, $addValuesItems);
$align-content    : map-merge($values, $addValuesContent);
$align-self       : map-merge($values, $addValuesSelf);

@include mx.makeUtil("align-items", $prefixItems, $align-items, $divider, $disable : $disableItems, $important : $important);
@include mx.makeUtil("align-content", $prefixContent, $align-content, $divider, $disable : $disableContent, $important : $important);
@include mx.makeUtil("align-self", $prefixSelf, $align-self, $divider, $disable : $disableSelf, $important : $important);

@if ($withBreakPoints) {
  @each $name, $value in st.$breakpoints {
	@media (min-width : $value) {
	  @include mx.makeUtil("align-items", $prefixItems, $align-items, $divider, $name, $disableItems, $important : $important);
	  @include mx.makeUtil("align-content", $prefixContent, $align-content, $divider, $name, $disableContent, $important : $important);
	  @include mx.makeUtil("align-self", $prefixSelf, $align-self, $divider, $name, $disableSelf, $important : $important);
	}
  }
}

