@use "../settings" as st;
@use "../mixins" as mx;

$withBreakPoints : true !default;
$disableItems    : false !default;
$disableContent  : false !default;
$disableSelf     : false !default;

$divider         : st.$divider !default;
$important       : st.$important !default;
$itemsPrefix     : "al__it" !default;
$contentPrefix   : "al__cnt" !default;
$selfPrefix      : "al__self" !default;

$align           : ('center' : center, 'start' : start, 'end' : end, 'fl-start': flex-start, 'fl-end': flex-end, 'stretch' : stretch) !default;
$addItems        : () !default;
$addContent      : () !default;
$addSelf         : () !default;

$align-items     : map-merge($align, $addItems);
$align-content   : map-merge($align, $addContent);
$align-self      : map-merge($align, $addSelf);

@include mx.makeUtil("align-items", $itemsPrefix, $align-items, $divider, $disable : $disableItems, $important : $important);
@include mx.makeUtil("align-content", $contentPrefix, $align-content, $divider, $disable : $disableContent, $important : $important);
@include mx.makeUtil("align-self", $selfPrefix, $align-self, $divider, $disable : $disableSelf, $important : $important);

@if ($withBreakPoints) {
  @each $name, $value in st.$breakpoints {
	@media (min-width : $value) {
	  @include mx.makeUtil("align-items", $itemsPrefix, $align-items, $divider, $name, $disableItems, $important : $important);
	  @include mx.makeUtil("align-content", $contentPrefix, $align-content, $divider, $name, $disableContent, $important : $important);
	  @include mx.makeUtil("align-self", $selfPrefix, $align-self, $divider, $name, $disableSelf, $important : $important);
	}
  }
}

