@use "../maps";
@use "mixins" as mx;

$withBreakPoints : true !default;
$prefix          : "border" !default;
$divider         : "--" !default;
$posDivider      : "-" !default;
$addWidths       : () !default;
$border-widths   : ("": 1px, "0": 0, "md": 3px) !default;
$BW              : map-merge($border-widths, $addWidths);

@include mx.makeUtilPos("border", $prefix, $BW, $divider, $posDivider) {
  border-style : solid;
}

@if ($withBreakPoints) {
  @each $name, $value in maps.$breakpoints {
	@media (min-width : $value) {
	  @include mx.makeUtilPos("border", $prefix, $BW, $divider, $posDivider, $name) {
		border-style : solid;
	  }
	}
  }
}

