@use "../maps";
@use "mixins" as mx;

$withBreakPoints : false !default;
$prefix          : "round" !default;
$separator       : "--" !default;
$posDivider      : "-" !default;
$addRadius       : () !default;
$border-radius   : ("": .25rem, '0' : 0, "circle": 1000rem) !default;
$BR              : map-merge($border-radius, $addRadius);

@include mx.border-radius($BR, $prefix, $separator, $posDivider);

@if ($withBreakPoints) {
  @each $name, $value in maps.$breakpoints {
	@media (min-width : $value) {
	  @include mx.border-radius($BR, $prefix, $separator, $posDivider, $name);
	}
  }
}

