@use "../settings" as st;
@use "../mixins" as mx;

$divider         : st.$divider !default;
$important       : st.$important !default;
$useCallback     : false !default;
$makeHover       : false !default;

$addProperties   : () !default;
$addToDark       : () !default;
$addToLight      : () !default;

$styleProperties : (
	'text' : color,
	'bg' : background-color,
	'fill' : fill,
	'border' : border-color
) !default;

$themeLight      : (
	'body' : hsl(220, 11%, 85%),
	'bg' : #fff,
	'bgDimmed' : hsl(220, 11%, 95%),
	'border' : hsl(220, 11%, 70%),
	'text' : hsl(220, 11%, 10%),
	'textDimmed' : hsl(220, 11%, 40%)
) !default;

$themeDark       : (
	'body' : hsl(220, 11%, 5%),
	'bg' : hsl(220, 11%, 10%),
	'bgDimmed' : hsl(220, 11%, 15%),
	'border' : hsl(220, 11%, 20%),
	'text' : hsl(220, 11%, 80%),
	'textDimmed' : hsl(220, 11%, 60%)
) !default;

$SP              : map-merge($styleProperties, $addProperties);
$TL              : map-merge($themeLight, $addToLight);
$TD              : map-merge($themeDark, $addToDark);
$Classes         : map-merge($TL, $TD);

@include mx.makeColorVars($TL, ":root");
@include mx.makeColorVars($TD, "[data-theme='dark']");
@include mx.makeColors($SP, $Classes, $divider, $useCallback : $useCallback, $important : $important, $hover : $makeHover);
