@use "../settings" as st;
@use "../mixins" as mx;
@use "../functions" as fn;

$divider         : st.$divider !default;
$important       : st.$important !default;
$steps           : 4 !default;
$ratio           : 1.25 !default;
$satRatio        : .5 !default;
$selector        : ":root" !default;
$hover           : true !default;
$styleProperties : ('text' : color, 'bg' : background-color, 'fill' : fill, 'border' : border-color) !default;
$colors          : (
	'accent' : #0B5FFF,
	'blue' : #09569c,
	"mint": #10a791,
	"emerald": #0baa3c,
	"yellow": #dbca0f,
	"orange": #cd5611,
	"red": #e51818,
	"pink": #c41295,
	"purple": #7c0cbb,
) !default;
$grays           : ('gray' : #51515a) !default;

$addColors       : () !default;
$addGrays        : () !default;
$removeColors    : () !default;
$addProperties   : () !default;


$P               : map-merge($styleProperties, $addProperties);
$C               : map-merge($colors, $addColors);
$G               : map-merge($grays, $addGrays);
$FC              : fn.removeFromMap($removeColors, $C);

@include mx.makeShadesFromBase($P, $FC, $steps, $ratio, $satRatio, $selector, $important, $hover, $divider);
@include mx.makeShadesFromBase($P, $G, $steps, $ratio, 0, $selector, $important, $hover, $divider);

//$hues            : (
//	"red": ("hue": 1, "saturation": 75%),
//	"orange": ("hue":30, "saturation": 75%),
//	"yellow": ("hue":50, "saturation": 75%),
//	"green": ("hue":100, "saturation": 75%),
//	"mint": ("hue":160, "saturation": 75%),
//	"blue": ("hue":210, "saturation": 75%),
//	"purple": ("hue":270, "saturation": 75%),
//	"pink": ("hue":320, "saturation": 75%),
//) !default;
//@include mx.makeColorShadesWithHue($styleProperties, $hues);
