@use "../settings" as st;
@use "../functions-mixins/mixins" as mx;

$withBreakPoints : true !default;
$prefix          : null !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$addDisplay      : () !default;
$display         : (
	'none' : none,
	'block' : block,
	'inline' : inline,
	'inline-block': inline-block,
	'flow-root' : flow-root,
	'flex' : flex,
	'inline-flex' : inline-flex,
	'grid': grid,
	'inline-grid': inline-grid,
) !default;
$D               : map-merge($display, $addDisplay);

@include mx.makeUtil("display", $prefix, $D, $divider, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("display", $prefix, $D, $divider, $name, $important : $important);
  }
}
