@use "../settings" as st;
@use "../mixins" as mx;

$withBreakPoints : true !default;
$prefix          : null !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$addDisplay      : () !default;
$display         : (
	'none' : none,
	'block' : block,
	'inline' : inline,
	'inline-block': inline-block,
	'flow-root' : flow-root,
	'flex' : flex,
	'inline-flex' : inline-flex,
	'grid': grid,
	'inline-grid': inline-grid,
) !default;
$D               : map-merge($display, $addDisplay);

@include mx.makeUtil("display", $prefix, $D, $divider, $important : $important);

@each $type in ("center", "middle", "center-middle") {
  .flex#{$divider}#{$type} {
	display : flex;
	@if ($type = "center" or $type = "center-middle") {
	  align-items : center;
	}
	@if ($type = "middle" or $type = "center-middle") {
	  justify-content : center;
	}
  }
}

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("display", $prefix, $D, $divider, $name, $important : $important);
	@each $type in ("center", "middle", "center-middle") {
	  .#{$name}flex#{$divider}#{$type} {
		display : flex;
		@if ($type = "center" or $type = "center-middle") {
		  align-items : center;
		}
		@if ($type = "middle" or $type = "center-middle") {
		  justify-content : center;
		}
	  }
	}
  }
}
