@use "../settings" as st;
@use "../globals";
@use "../functions-mixins/mixins" as mx;

$withBreakPoints : true !default;
$prefix          : "flex" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$flex-directions : ('row': row, 'column': column, 'row-reverse': row-reverse, 'column-reverse': column-reverse) !default;
$removeDirection : () !default;
$FD              : mx.removeFromMap($removeDirection, $flex-directions);

@include mx.makeUtil("flex-direction", $prefix, $FD, $divider, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("flex-direction", $prefix, $FD, $divider, $name, $important : $important);
  }
}
