@use "../settings" as st;
@use "../mixins" as mx;

$withBreakPoints : true !default;
$prefix          : "text" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$values          : map-merge(st.$typography, ('xl-1': '3rem', 'xl-2': '4rem', 'xl-3': '6rem',));
$addValues       : () !default;
$FS              : map-merge($values, $addValues);

@include mx.makeUtil("font-size", $prefix, $FS, $divider, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("font-size", $prefix, $FS, $divider, $name, $important : $important);
  }
}
