@use "../settings" as st;
@use "../mixins" as mx;

/* Start Variables */
$withBreakPoints : false !default;
$prefix          : "text" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$values          : ('light': '300', 'regular': '500', 'medium': '600', 'bold': '700', 'black': '900') !default;
$addValues       : () !default;
/* End Variables */
$FW              : map-merge($values, $addValues);

@include mx.makeUtil("font-weight", $prefix, $FW, $divider, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("font-weight", $prefix, $FW, $divider, $name, $important : $important);
  }
}
