@use "../settings" as st;
@use "../mixins" as mx;

/* Start Variables */
$withBreakPoints : true !default;
$prefix          : "text" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$values          : ('h1' : '2.25rem', 'h2' : '2rem', 'h3' : '1.75rem', 'h4' : '1.5rem', 'h5' : '1.25rem', 'h6' : '1.125rem', 'small' : '.75rem', 'xl-1': '3rem', 'xl-2': '4rem', 'xl-3': '6rem') !default;
$addValues       : () !default;
/* End Variables */
$FS              : map-merge($values, $addValues);

@include mx.makeUtil("font-size", $prefix, $FS, $divider, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("font-size", $prefix, $FS, $divider, $name, $important : $important);
  }
}
