@use "settings" as st;
@use "mixins" as mx;

$disableItems    : true !default;
$disableContent  : false !default;
$disableSelf     : false !default;
$withBreakPoints : true !default;

$divider         : st.$divider !default;
$important       : st.$important !default;
$itemsPrefix     : "jf__it" !default;
$contentPrefix   : "jf__cnt" !default;
$selfPrefix      : "jf__self" !default;

$justify         : ('center' : center, 'start' : start, 'end' : end, 'stretch' : stretch) !default;
$content         : map-merge($justify, ('between' : space-between, 'around' : space-around, 'evenly': space-evenly));
$addItems        : () !default;
$addContent      : () !default;
$addSelf         : () !default;

$justify-items   : map-merge($justify, $addItems);
$justify-content : map-merge($content, $addContent);
$justify-self    : map-merge($justify, $addSelf);

@include mx.makeUtil("justify-items", $itemsPrefix, $justify-items, $divider, $disable : $disableItems, $important : $important);
@include mx.makeUtil("justify-content", $contentPrefix, $justify-content, $divider, $disable : $disableContent, $important : $important);
@include mx.makeUtil("justify-self", $selfPrefix, $justify-self, $divider, $disable : $disableSelf, $important : $important);

@if ($withBreakPoints) {
  @each $name, $value in st.$breakpoints {
	@media (min-width : $value) {
	  @include mx.makeUtil("justify-items", $itemsPrefix, $justify-items, $divider, $name, $disableItems, $important : $important);
	  @include mx.makeUtil("justify-content", $contentPrefix, $justify-content, $divider, $name, $disableContent, $important : $important);
	  @include mx.makeUtil("justify-self", $selfPrefix, $justify-self, $divider, $name, $disableSelf, $important : $important);
	}
  }
}

