@use "../settings" as st;
@use "../mixins" as mx;

$disableItems     : false !default;
$disableContent   : false !default;
$disableSelf      : false !default;
$withBreakPoints  : true !default;

$divider          : st.$divider !default;
$important        : st.$important !default;
$prefixItems      : "jf__it" !default;
$prefixContent    : "jf__cnt" !default;
$prefixSelf       : "jf__self" !default;

$values           : ('center' : 'center', 'start' : 'start', 'end' : 'end', 'fl-start' : 'flex-start', 'fl-end' : 'flex-end', 'stretch' : 'stretch', 'between' : 'space-between', 'around' : 'space-around', 'evenly': 'space-evenly') !default;
$filtered         : map-remove($values, 'between', 'around', 'evenly');
$addValuesItems   : () !default;
$addValuesContent : () !default;
$addValuesSelf    : () !default;

$justify-items    : map-merge($filtered, $addValuesItems);
$justify-content  : map-merge($values, $addValuesContent);
$justify-self     : map-merge($filtered, $addValuesSelf);

@include mx.makeUtil("justify-items", $prefixItems, $justify-items, $divider, $disable : $disableItems, $important : $important);
@include mx.makeUtil("justify-content", $prefixContent, $justify-content, $divider, $disable : $disableContent, $important : $important);
@include mx.makeUtil("justify-self", $prefixSelf, $justify-self, $divider, $disable : $disableSelf, $important : $important);

@if ($withBreakPoints) {
  @each $name, $value in st.$breakpoints {
	@media (min-width : $value) {
	  @include mx.makeUtil("justify-items", $prefixItems, $justify-items, $divider, $name, $disableItems, $important : $important);
	  @include mx.makeUtil("justify-content", $prefixContent, $justify-content, $divider, $name, $disableContent, $important : $important);
	  @include mx.makeUtil("justify-self", $prefixSelf, $justify-self, $divider, $name, $disableSelf, $important : $important);
	}
  }
}

