@use "../settings" as st;
@use "../mixins" as mx;

$withBreakPoints : true !default;
$prefix          : "m" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$posDivider      : null !default;
$spacers         : st.$spacers;
$margin          : map-merge($spacers, ("auto": auto));

@include mx.makeUtilPos("margin", $prefix, $margin, $divider, $posDivider, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtilPos("margin", $prefix, $margin, $divider, $posDivider, $name, $important : $important);
  }
}
