@use "../maps";
@use "../globals";
@use "mixins" as mx;

$withBreakPoints : true !default;
$prefix          : "m" !default;
$divider         : "--" !default;
$posDivider      : "" !default;
$spacers         : maps.$spacers;

@include mx.makeUtilPos("margin", $prefix, $spacers, $divider, $posDivider);

@each $name, $value in maps.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtilPos("margin", $prefix, $spacers, $divider, $posDivider, $name);
  }
}
