@use "../settings" as st;
@use "../mixins" as mx;
@use "../functions" as fn;

$withBreakPoints : false !default;
$prefix          : "obj-fit" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$values          : ('contain' : 'contain', 'cover' : 'cover', 'fill' : 'fill', 'none' : 'none', 'scale-down' : 'scale-down') !default;
$removeValues    : () !default;
$OF              : fn.removeFromMap($removeValues, $values);

@include mx.makeUtil("object-fit", $prefix, $OF, $divider, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("object-fit", $prefix, $OF, $divider, $name, $important : $important);
  }
}
