@use "../settings" as st;
@use "../mixins" as mx;

$withBreakPoints : true !default;
$prefix          : "p" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$posDivider      : null !default;
$values          : st.$spacers;

@include mx.makeUtilPos("padding", $prefix, $values, $divider, $posDivider, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtilPos("padding", $prefix, $values, $divider, $posDivider, $name, $important : $important);
  }
}
