@use "../settings" as st;
@use "../mixins" as mx;

$withBreakPoints : false !default;
$prefix          : "pointer" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$pointers        : ("auto": auto, "none": none) !default;
$addPointers     : () !default;
$PE              : map-merge($pointers, $addPointers);

@include mx.makeUtil("pointer-events", $prefix, $PE, $divider, $important : $important);

@if ($withBreakPoints) {
  @each $name, $value in st.$breakpoints {
	@media (min-width : $value) {
	  @include mx.makeUtil("pointer-events", $prefix, $PE, $divider, $name, $important : $important);
	}
  }
}
