@use "../settings" as st;
@use "../mixins" as mx;
@use "../functions" as fn;

$withBreakPoints : true !default;
$prefix          : null !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$values          : ('static' : 'static', 'relative': 'relative', 'fixed' : 'fixed', 'absolute' : 'absolute', 'sticky': 'sticky') !default;
$removeValues    : () !default;
$P               : fn.removeFromMap($removeValues, $values);

@include mx.makeUtil("position", $prefix, $P, $divider, $important : $important);
@include mx.makeXYCenter(("absolute", "fixed"), $divider);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("position", $prefix, $P, $divider, $name, $important : $important);
	@include mx.makeXYCenter(("absolute", "fixed"), $divider, $name);
  }
}
