@use "../settings" as st;
@use "../mixins" as mx;

$withBreakPoints : true !default;
$disableMin      : false !default;
$disableMax      : false !default;
$prefix          : "w" !default;
$maxPrefix       : "max-w" !default;
$minPrefix       : "min-w" !default;
$divider         : st.$divider !default;
$important       : st.$important !default;
$w               : ("100": 100%, "75" : 75%, "50" : 50%, "25" : 25%, "v100": 100vh, "v75" : 75vh, "v50" : 50vh, "v25" : 25vh);
$addWidths       : () !default;
$width          : map-merge($w, $addWidths);

@include mx.makeUtil("width", $prefix, $width, $divider, $important : $important);
@include mx.makeUtil("max-width", $maxPrefix, $width, $divider, $disable : $disableMax, $important : $important);
@include mx.makeUtil("min-width", $minPrefix, $width, $divider, $disable : $disableMin, $important : $important);

@each $name, $value in st.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeUtil("width", $prefix, $width, $divider, $name, $important : $important);
	@include mx.makeUtil("max-width", $maxPrefix, $width, $divider, $name, $disable : $disableMax, $important : $important);
	@include mx.makeUtil("min-width", $minPrefix, $width, $divider, $name, $disable : $disableMin, $important : $important);
  }
}
