.input-wrapper {
  &__label {
    @extend .mb-xs;
    @extend .px-md;
    @extend .d-block;
    font-size     : 75%;
    height        : spacer("sm");
  }

  &__error {
    @extend .text-danger;
    @extend .pt-xs;
    @extend .px-md;
    font-size : 75%;
  }
}
