.switch-checkbox {
  height : 0;
  width  : 0;
  display: none;
  &:checked + .switch-label{
    background: $primary;
  }
  &:checked + .switch-label .switch-button {
    left      : calc(100% - 2px);
    transform : translateX(-100%);
  }
}
.switch-label {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  cursor         : pointer;
  background     : $gray-50;
  border-radius  : 50rem;
  position       : relative;
  transition     : background 300ms ease;
  .switch-button {
    content      : "";
    position     : absolute;
    top          : 2px;
    left         : 2px;
    border-radius: 50rem;
    transition   : 200ms;
    background   : #fff;
    box-shadow   : 0 0 2px 0 rgba(10, 10, 10, 0.3);
  }
  &.sm {
    width : 40px;
    height: 24px;
    .switch-button {
      width : 20px;
      height: 20px;
      &:active {
        width: 30px;
      }
    }
  }
  &.md {
    width : 50px;
    height: 29px;
    .switch-button {
      width : 25px;
      height: 25px;
      &:active {
        width: 35px;
      }
    }
  }
  &.lg {
    width : 60px;
    height: 34px;
    .switch-button {
      width : 30px;
      height: 30px;
      &:active {
        width: 40px;
      }
    }
  }
  &.xl {
    width : 70px;
    height: 39px;
    .switch-button {
      width : 35px;
      height: 35px;
      &:active {
        width: 45px;
      }
    }
  }
}
