@mixin bgImgCenter() {
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : cover;
}
//-----------------------------
// Flexbox
//-----------------------------
@mixin flexbox($align, $justify) {
  display        : flex;
  align-items    : $align;
  justify-content: $justify;
}
//-----------------------------
// Position
//-----------------------------
@mixin position($pos, $z, $t, $r, $b, $l, $w, $h) {
  position: $pos;
  z-index : #{$z};
  top     : #{$t};
  right   : #{$r};
  bottom  : #{$b};
  left    : #{$l};
  width   : #{$w};
  height  : #{$h};
}
//-----------------------------
// Before & After
//-----------------------------
@mixin pseudo() {
  display : block;
  position: absolute;
  z-index : -1;
  top     : 0;
  bottom  : 0;
  left    : 0;
  right   : 0;
  width   : 100%;
  height  : 100%;
}
//-----------------------------
// Display Classes
//-----------------------------
@mixin display($breakpoint) {

  @each $type, $value in $display-classes {
    .#{$breakpoint}d-#{$value} {
      display: $value !important;
    }

  }
}
//-----------------------------
// Text Classes
//-----------------------------
@mixin text($grid-breakpoint) {
  @each $type, $value in (left: left, right: right, center: center) {
    .#{$grid-breakpoint}text-#{$value} {
      text-align: $value;
    }
  }
}
//-----------------------------
// Flex Wrap
//-----------------------------
@mixin flex-row-col($grid-breakpoint) {
  @each $type, $value in (row: row, column: column, row-reverse: row-reverse, column-reverse: column-reverse) {
    .#{$grid-breakpoint}flex-#{$type} {
      flex-direction: $value;
    }
  }
}
//-----------------------------
// Flex Wrap
//-----------------------------
@mixin flex-wrap($grid-breakpoint) {
  @each $type, $value in (wrap: wrap, nowrap: nowrap, wrap-reverse: wrap-reverse) {
    .#{$grid-breakpoint}flex-#{$type} {
      flex-wrap: $value;
    }
  }
}
//-----------------------------
// Flex Fill
//-----------------------------
@mixin flex-fill($grid-breakpoint) {
  @each $type, $value in (fill: 1 1 auto) {
    .#{$grid-breakpoint}flex-#{$type} {
      flex: $value;
    }
  }
}
//-----------------------------
// Flex Grow
//-----------------------------
@mixin flex-grow($grid-breakpoint) {
  @each $type, $value in (grow-0: 0, grow-1: 1) {
    .#{$grid-breakpoint}flex-#{$type} {
      flex-grow: $value;
    }
  }
}
//-----------------------------
// Flex Shrink
//-----------------------------
@mixin flex-shrink($grid-breakpoint) {
  @each $type, $value in (shrink-0: 0, shrink-1: 1) {
    .#{$grid-breakpoint}flex-#{$type} {
      flex-shrink: $value;
    }
  }
}
//-----------------------------
// Flex Align Items
//-----------------------------
@mixin align-items($grid-breakpoint) {
  @each $type, $value in $align {
    .#{$grid-breakpoint}align-items-#{$type} {
      align-items: $value;
    }
  }
}
//-----------------------------
// Flex Justify Content
//-----------------------------
@mixin justify-content($grid-breakpoint) {
  @each $type, $value in $justify {
    .#{$grid-breakpoint}justify-content-#{$type} {
      justify-content: $value;
    }
  }
}
//-----------------------------
// Flex Align Content
//-----------------------------
@mixin align-content($grid-breakpoint) {
  @each $type, $value in $justify {
    .#{$grid-breakpoint}align-content-#{$type} {
      align-content: $value;
    }
  }
}
//-----------------------------
// Flex Align Self
//-----------------------------
@mixin align-self($grid-breakpoint) {
  $align: map-merge($align, ("auto": auto));
  @each $type, $value in $align {
    .#{$grid-breakpoint}align-self-#{$type} {
      align-self: $value;
    }
  }
}
//-----------------------------
// Spacers Classes
//-----------------------------
@mixin spacers($grid-breakpoint) {
  @each $prop, $prefix in (margin: m, padding: p) {
    @each $num, $value in $spacers {
      .#{$grid-breakpoint}#{$prefix}-#{$num} {
        #{$prop}: $value !important;
      }
      .#{$grid-breakpoint}#{$prefix}t-#{$num},
      .#{$grid-breakpoint}#{$prefix}y-#{$num} {
        #{$prop}-top: $value !important;
      }
      .#{$grid-breakpoint}#{$prefix}b-#{$num},
      .#{$grid-breakpoint}#{$prefix}y-#{$num} {
        #{$prop}-bottom: $value !important;
      }
      .#{$grid-breakpoint}#{$prefix}l-#{$num},
      .#{$grid-breakpoint}#{$prefix}x-#{$num} {
        #{$prop}-left: $value !important;
      }
      .#{$grid-breakpoint}#{$prefix}r-#{$num},
      .#{$grid-breakpoint}#{$prefix}x-#{$num} {
        #{$prop}-right: $value !important;
      }
    }
  }
}
//-----------------------------
// Auto Margins
//-----------------------------
@mixin margin-auto($grid-breakpoint) {
  .#{$grid-breakpoint}mt-auto,
  .#{$grid-breakpoint}my-auto {
    margin-top: auto !important;
  }
  .#{$grid-breakpoint}mb-auto,
  .#{$grid-breakpoint}my-auto {
    margin-bottom: auto !important;
  }
  .#{$grid-breakpoint}ml-auto,
  .#{$grid-breakpoint}mx-auto {
    margin-left: auto !important;
  }
  .#{$grid-breakpoint}mr-auto,
  .#{$grid-breakpoint}mx-auto {
    margin-right: auto !important;
  }
  .#{$grid-breakpoint}m-auto,
  .#{$grid-breakpoint}m-auto {
    margin: auto !important;
  }
}
