//-----------------------------------------------------------
//Variables
//-----------------------------------------------------------
$paddingX      : 1.5rem;
$paddingY      : .625rem;
$padding       : $paddingY $paddingX;
$fontSize      : 100%;
$fontWeight    : 500;
$lineHeight    : 1.2;
$borderRadius  : 50rem;
$borderWidth   : 1px;
$borderStyle   : solid;
$border        : 2px solid;
$transition    : 200ms ease-in-out;

.button {
  @extend .d-inline-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  z-index             : 1;
  position            : relative;
  vertical-align      : middle;
  cursor              : pointer;
  font-weight         : $fontWeight;
  font-size           : $fontSize;
  line-height         : $lineHeight;
  text-decoration     : none;
  background          : transparent;
  border              : $border transparent;
  border-radius       : $borderRadius;
  transition          : $transition;
  transition-property : background, color, border;

  .icon {
    transition : fill $transition;
  }

  &.disabled, &:disabled {
    opacity : .65;
    cursor  : not-allowed;
  }

  &:focus {
    outline : none;

    &::after,
    &::before {
      outline : none;
    }
  }

  &.fullwidth {
    width : 100%;
  }
}
