//-----------------------------------------------------------
// Button Fill
//-----------------------------------------------------------
.button {
  &.fill {
    @each $color, $hex in $button-colors {
      &.#{$color} {
        padding    : $padding;
        background : $hex;
        min-height : 42px;
        color      : color-contrast($hex);

        .icon, .loader {
          fill : color-contrast($hex);
        }

        &:hover {
          background : set-btn-hover-color($hex);

          .icon {
            fill : color-contrast($hex);
          }
        }
      }
    }
  }
}
