@use "../../functions" as acc;
@use "../../settings" as st;
@use "../../utilities/colors" as clr;

.check-badge {
  .badge-label {
	display             : inline-flex;
	padding             : map-get(st.$spacers, "10") map-get(st.$spacers, "lg");
	border              : 1px solid var(--text);
	color               : var(--text);
	transition          : st.$transition-timing;
	transition-property : color, background-color, border;
	cursor              : pointer;
	opacity             : .65;
  }

  .checkbox {
	height  : 0;
	width   : 0;
	display : none;
  }

  &.xs .badge-label {
	padding   : map-get(st.$spacers, "xs") map-get(st.$spacers, "sm");
	font-size : .75rem;
  }

  &.sm .badge-label {
	padding   : map-get(st.$spacers, "sm") map-get(st.$spacers, "10");
	font-size : .9rem;
  }

  &.lg .badge-label {
	padding   : map-get(st.$spacers, "10") map-get(st.$spacers, "lg");
	font-size : 1.5rem;
  }

  &.xl .badge-label {
	padding   : map-get(st.$spacers, "md") map-get(st.$spacers, "xxl");
	font-size : 1.75rem;
  }
}

.check-badge {
  @each $color, $hex in clr.$IL {
	&.#{$color} {
	  .badge-label:hover {
		opacity      : 1;
		color        : acc.color-contrast($hex);
		background   : $hex;
		border-color : $hex;
	  }

	  .checkbox:checked + .badge-label {
		opacity      : 1;
		color        : acc.color-contrast($hex);
		background   : $hex;
		border-color : $hex;
	  }
	}
  }
}

body[data-theme="dark"] .check-badge {
  @each $color, $hex in clr.$ID {
	&.#{$color} {
	  .badge-label:hover {
		opacity      : 1;
		color        : acc.color-contrast($hex);
		background   : $hex;
		border-color : $hex;
	  }

	  .checkbox:checked + .badge-label {
		opacity      : 1;
		color        : acc.color-contrast($hex);
		background   : $hex;
		border-color : $hex;
	  }
	}
  }
}
