* {
  margin      : 0;
  padding     : 0;
  font-family : $bodyFont;
  line-height : 1.2;
}

body {
  --body : #{$gray-95};
  --text : #{$gray-10};
  --bg   : #{$gray-85};
}

body[data-theme="dark"] {
  --body : #{$gray-10};
  --text : #{$gray-95};
  --bg   : #{$gray-5};
}


*,
::after,
::before {
  box-sizing : border-box;
}

img {
  max-width : 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin      : 0;
  font-family : $headingFont;
}

body {
  background-color : var(--body);
  color            : var(--text);

}
