@use "../util-constructor";
@use "../functions-mixins/acc-colors" as acc;
@use "../themes";

$light : themes.$colorsLight !default;
$dark  : themes.$colorsDark !default;

.badge {
  @extend .inline-flex;
  @extend .py--xs;
  @extend .px--sm;
  @extend .transition--colors;
  @extend .round;
  line-height    : 1.5;
  vertical-align : middle;

  @each $color, $hex in $light {
	&.#{$color} {
	  color      : acc.color-contrast($hex);
	  background : $hex;

	  &:hover {
		background : acc.set-hover-color($hex)
	  }
	}
  }
  @each $color, $hex in $dark {
	body[data-theme="dark"].#{$color} {
	  color      : acc.color-contrast($hex);
	  background : $hex;

	  &:hover {
		background : acc.set-hover-color($hex)
	  }
	}
  }
}
