@use "../util-constructor";
@use "../functions-mixins/acc-colors" as acc;
@use "../maps";

$colors : maps.$colorsLight !default;

.badge {
  @extend .inline-flex;
  @extend .py--xs;
  @extend .px--sm;
  @extend .transition--colors;
  @extend .round;
  line-height: 1.5;
  vertical-align: middle;

  @each $color, $hex in $colors {
	&.#{$color} {
	  color      : acc.color-contrast($hex);
	  background : $hex;

	  &:hover {
		background : acc.set-hover-color($hex)
	  }
	}
  }
}
