@use "../functions" as fn;
@use "../settings" as st;
@use "../utilities/colors" as clr;

.badge {
  display             : inline-flex;
  padding             : map-get(st.$spacers, "xs") map-get(st.$spacers, "sm");
  transition-property : color, background-color, border;
  transition          : st.$transition-timing;
  line-height         : 1.5;
  vertical-align      : middle;

  @each $color, $hex in clr.$IL {
	&.#{$color} {
	  color      : fn.color-contrast($hex);
	  background : $hex;

	  &:hover {
		background : fn.set-hover-color($hex)
	  }
	}
  }
  @each $color, $hex in clr.$ID {
	body[data-theme="dark"].#{$color} {
	  color      : fn.color-contrast($hex);
	  background : $hex;

	  &:hover {
		background : fn.set-hover-color($hex)
	  }
	}
  }
}
