@use "../settings";
@use "../mixins" as mx;

$gridColumns  : 12 !default;
$columnPrefix : "col" !default;
$offsetPrefix : "offset" !default;
$orderPrefix  : "order" !default;
$divider      : settings.$divider !default;

@include mx.makeGrid($gridColumns, $columnPrefix, $divider);
@include mx.makeGridOffset($gridColumns, $offsetPrefix, $divider);
@include mx.makeGridOrder($gridColumns, $orderPrefix, $divider);

@each $name, $value in settings.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeGrid($gridColumns, $columnPrefix, $divider, $name);
	@include mx.makeGridOffset($gridColumns, $offsetPrefix, $divider, $name);
	@include mx.makeGridOrder($gridColumns, $orderPrefix, $divider, $name);
  }
}
