@use "../mixins/media-queries" as mq;

$maxWidth : 1100px;

.timeline {
  max-width : $maxWidth;
  margin    : 0 auto;

  &__line {
	width : 1px;

	&::after, &::before {
	  content       : "";
	  left          : 50%;
	  transform     : translateX(-50%);
	  background    : var(--text);
	  width         : 10px;
	  height        : 10px;
	  border-radius : 1000rem;
	}

	&::before {
	  top : 0;
	}

	&::after {
	  bottom : 0;
	}
  }

  &__item {
	&::after, &::before {
	  content    : "";
	  top        : 40%;
	  transform  : translateY(-50%);
	  background : var(--text);
	}

	&::before {
	  border-radius : 1000rem;
	  border        : 2px solid var(--bg);
	  width         : 16px;
	  height        : 16px;
	  @include mq.tablet-down() {
		left : -8px;
	  }
	}

	&:nth-child(even)::before {
	  right : -8px;
	}

	&:nth-child(odd)::before {
	  left : -8px;
	}

	&::after {
	  width  : 1.875rem;
	  height : 1px;
	  @include mq.tablet-down() {
		left : 0;
	  }
	}

	&:nth-child(even)::after {
	  right: 0;
	}

	&:nth-child(odd)::after {
	  left: 0;
	}
  }
}
