@use "../../../src/settings" with (
$important: true
);
@use "../../../src/utilities/height" with (
$addHeights : ("header": 60px, "sidebar": calc(100vh - 60px))
);

@use "../../../src/mixins" as mx;
@use "../../../src/skil3e";

@include mx.makeGrid(12, "col", "--");

@each $name, $value in settings.$breakpoints {
  @media (min-width : $value) {
	@include mx.makeGrid(12, "col", "--", $name);
  }
}

.container {
  max-width : 1400px;
}

nav {
  ul {
	list-style : none;
  }
  a {
	text-decoration : none;
	color           : var(--textDimmed);

	&:hover {
	  color : var(--accent);
	}
  }
}

button.fill.copy {
  background   : var(--bg);
  border-color : var(--bg);
  color        : var(--text);
}
