//-----------------------------
// Color Contrast Acc
//-----------------------------
@function colour-difference($foreground, $background) {
  $r: (max(red($foreground), red($background))) - (min(red($foreground), red($background)));
  $g: (max(green($foreground), green($background))) - (min(green($foreground), green($background)));
  $b: (max(blue($foreground), blue($background))) - (min(blue($foreground), blue($background)));
  $sum-rgb: $r + $g + $b;
  @if $sum-rgb < 500 {
    @return "false";
  } @else {
    @return "true";
  }
}
@function color-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
  @if abs($color-brightness) < ($light-color/2) {
    @return #fff;
  } @else {
    @return black;
  }
}

//-----------------------------
// BG Contrast Acc
//-----------------------------
@function set-btn-hover-color($hex) {
  @if (lightness($hex) > 20) {
    @return darken($hex, 7.5%);
  } @else {
    @return lighten($hex, 15%);
  }
}
