@use "../basic/maps";
@use "../_util/mixins" as mx;

$ThemeLight : maps.$ThemeLight !default;
$ThemeDark  : maps.$ThemeDark !default;

body {
  @include mx.themeVarGenerator($ThemeLight)
}

body[data-theme="dark"] {
  @include mx.themeVarGenerator($ThemeDark)
}

body {
  background-color : var(--body);
  color            : var(--text);

  &.transition {
	transition : all 400ms ease-in-out;
  }
}

a {
  text-decoration : none;
  color           : var(--primary);
  transition      : color 250ms ease;
}
