@use "../maps";
@use "../_util/mixins" as mx;

$themeLight : maps.$themeLight !default;
$themeDark  : maps.$themeLight !default;
$colors     : maps.$colors !default;

@include mx.themeVarGenerator(map-merge($colors, $themeLight));
@include mx.themeVarGenerator($themeDark, "dark");

body {
  background-color : var(--body);
  color            : var(--text);

  &.transition {
    transition : all 400ms ease-in-out;
  }
}

a {
  text-decoration : none;
  color           : var(--primary);
  transition      : color 250ms ease;
}
