@use "../globals";

$body           : globals.$gray-95 !default;
$bg             : globals.$gray-90 !default;
$bgDimmed       : globals.$gray-85 !default;
$border         : globals.$gray-80 !default;

$text           : globals.$gray-10 !default;
$textDimmed     : globals.$gray-60 !default;
$primary        : globals.$primary !default;

$bodyDark       : globals.$gray-5 !default;
$bgDark         : globals.$gray-10 !default;
$bgDimmedDark   : globals.$gray-15 !default;
$borderDark     : globals.$gray-20 !default;

$textDark       : globals.$gray-90 !default;
$textDimmedDark : globals.$gray-40 !default;
$primaryDark    : globals.$primary !default;

body {
  --body      : #{$body};
  --bg        : #{$bg};
  --bgDimmed  : #{$bgDimmed};
  --border    : #{$border};

  --text      : #{$text};
  --textDimed : #{$textDimmed};
  --primary   : #{$primary};
}

body[data-theme="dark"] {
  --body      : #{$bodyDark};
  --bg        : #{$bgDark};
  --bgDimmed  : #{$bgDimmedDark};
  --border    : #{$borderDark};

  --text      : #{$textDark};
  --textDimed : #{$textDimmedDark};
  --primary   : #{$primaryDark};
}

body {
  background-color : var(--body);
  color            : var(--text);

  &.transition {
    transition : all 400ms ease-in-out;
  }
}

a {
  text-decoration : none;
  color           : var(--primary);
  transition      : color 250ms ease;
}

//@media (prefers-color-scheme: light) {
//  body {
//    --body      : #{$gray-95};
//    --bg        : #{$gray-85};
//    --text      : #{$gray-10};
//    --textDimed : #{$gray-30};
//    --primary   : #{$primary};
//  }
//}
//@media (prefers-color-scheme: dark) {
//  body {
//    --body      : #{$gray-10};
//    --bg        : #{$gray-5};
//    --text      : #{$gray-90};
//    --textDimed : #{$gray-60};
//    --primary   : #{$primary};
//  }
//}
