@use "sass:color";
@use "../globals";

$HFont           : globals.$headingFont !default;
$HFontLineHeight : 1 !default;
$PLineHeight     : 1.5 !default;
$MarkBG          : color.adjust(globals.$primary, $alpha : -.5) !default;

h1, h2, h3, h4, h5, h6 {
  font-family : $HFont;
  line-height : $HFontLineHeight;
}

p {
  line-height : $PLineHeight;
}

mark {
  background-color : $MarkBG;
}
