@use "fonts";
@use "imports";
@use "switch";
@use "../../../src/functions" as f;

:root {
  --pale : rgba(11, 95, 255, .1);
}

.utils {
  code[class*="language-"] {
	line-height : 2.5;
  }
}

nav ul {
  list-style : none;
}

h1 {
  margin-top : 0;
}

p {
  max-width : 70ch;
}

.text--code {
  font-family : "Fira Code", monospace;
}

.table-classes {
  border-collapse : collapse;

  td {
	vertical-align : baseline;
	line-height    : 2;
  }

}

::-webkit-scrollbar {
  width  : 10px;
  height : 8px;

  &-track {
	background : var(--bg);
  }

  &-thumb {
	background : var(--bgDimmed);

	&:hover {
	  background : var(--bg)
	}
  }
}
