//--------------------------------------------------------------//
// Make XYCenter
//--------------------------------------------------------------//
@mixin makeXYCenter($values, $divider, $breakpoint:null) {
  @each $type in $values {
	.#{$breakpoint}#{$type}#{$divider}center {
	  position  : #{$type} !important;
	  left      : 50%;
	  top       : 50%;
	  transform : translate(-50%, -50%);
	}
	.#{$breakpoint}#{$type}-x#{$divider}center {
	  position  : #{$type} !important;
	  left      : 50%;
	  transform : translateX(-50%);
	}
	.#{$breakpoint}#{$type}-y#{$divider}center {
	  position  : #{$type} !important;
	  top       : 50%;
	  transform : translateY(-50%);
	}
  }
}
