//-----------------------------------------------------------
// Breakpoints
//-----------------------------------------------------------
$phone               : 480px !default;
$tablet              : 768px !default;
$laptop              : 992px !default;
$desktop             : 1200px !default;

//-----------------------------------------------------------
// Colors
//-----------------------------------------------------------
$black               : hsl(190, 10%, 0%) !default;
$gray-5              : hsl(190, 10%, 5%) !default;
$gray-10             : hsl(190, 10%, 10%) !default;
$gray-15             : hsl(190, 10%, 15%) !default;
$gray-20             : hsl(190, 10%, 20%) !default;
$gray-30             : hsl(190, 10%, 30%) !default;
$gray-40             : hsl(190, 10%, 40%) !default;
$gray-50             : hsl(190, 10%, 50%) !default;
$gray-60             : hsl(190, 10%, 60%) !default;
$gray-70             : hsl(190, 10%, 70%) !default;
$gray-80             : hsl(190, 10%, 80%) !default;
$gray-85             : hsl(190, 11%, 85%) !default;
$gray-90             : hsl(190, 10%, 90%) !default;
$gray-95             : hsl(190, 10%, 95%) !default;
$white               : hsl(190, 10%, 100%) !default;

$primary             : hsl(190, 65%, 40%) !default;
$secondary           : hsl(190, 30%, 50%) !default;
$danger              : hsl(0, 70%, 50%) !default;
$success             : hsl(150, 70%, 30%) !default;
$warning             : hsl(30, 100%, 50%) !default;

//-----------------------------------------------------------
// Utils
//-----------------------------------------------------------
$borderWidth         : 1px !default;
$borderType          : solid !default;
//-----------------------------------------------------------
// Typography
//-----------------------------------------------------------
$systemFonts         : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$bodyFont            : $systemFonts !default;
$headingFont         : $systemFonts !default;
$headingLineHeight   : 1 !default;
$headingFontWeight   : 500 !default;
$paragraphLineHeight : 1.5 !default;
$highlight           : hsla(213, 80%, 50%, 0.5) !default;
//-----------------------------------------------------------
// Font sizes
//-----------------------------------------------------------
$h1                  : 2rem !default;
$h2                  : 1.75rem !default;
$h3                  : 1.5rem !default;
$h4                  : 1.25rem !default;
$h5                  : 1.125rem !default;
$h6                  : 1rem !default;
$small               : .75rem !default;



