@use "globals";
@use "functions-mixins/reset";

* {
  margin      : 0;
  padding     : 0;
  font-family : globals.$bodyFont;
  line-height : 1.2;
}

*,
::after,
::before {
  box-sizing : border-box;
}

img {
  max-width : 100%;
}
