@use "globals";
@use "functions-mixins/reset";

* {
  margin  : 0;
  padding : 0;
}

body {
  font-family : globals.$bodyFont;
  line-height : globals.$lineHeight;
}

*,
::after,
::before {
  box-sizing : border-box;
}

img {
  max-width : 100%;
}
