@use "settings";
@use "reset";

* {
  margin  : 0;
  padding : 0;
}

body {
  font-family      : settings.$bodyFont;
  background-color : var(--body);
  color            : var(--text);

  &.transition {
	transition : all 400ms ease-in-out;
  }
}

*,
::after,
::before {
  box-sizing : border-box;
}

img {
  display   : block;
  max-width : 100%;
  height    : auto;
}

main * + *:not(li) {
  margin-top : 1em;
}
