@use "globals";
//--------------------------------------------------------------//
//  Align / Justify
//  Borders
//  Breakpoints
//  Colors
//  Color Themes
//  Cursor
//  Display
//  Object Fit
//  Positions
//  Spacers
//  Style Attribute
//  Transitions
//  Typography
//  Width
//  Z-index
//--------------------------------------------------------------//

//--------------------------------------------------------------//
//  Align
//--------------------------------------------------------------//
$align-item       : (
	'center' : center,
	'start' : start,
	'end' : end,
	'stretch' : stretch,
) !default;

$align-content    : (
	'center' : center,
	'start' : start,
	'end' : end,
	'stretch' : stretch,
) !default;

$align-self       : (
	'center' : center,
	'start' : start,
	'end' : end,
) !default;

$justify-item     : (
	'center' : center,
	'start' : start,
	'end' : end,
	'stretch' : stretch,
) !default;

$justify-content  : (
	'center' : center,
	'start' : start,
	'end' : end,
	'stretch' : stretch,
	'between' : space-between,
	'around' : space-around,
	'evenly': space-evenly
) !default;

$justify-self     : (
	'center' : center,
	'start' : start,
	'end' : end,
	'stretch' : stretch
) !default;
//--------------------------------------------------------------//
//  Borders
//--------------------------------------------------------------//
$border-widths    : (
	"--0": 0,
	"": 1px,
	"--md": 2px,
	"--lg": 3px,
) !default;

$border-radius    : (
	"": .25rem,
	'--0' : 0,
	"--md": .625rem,
	"--lg": .9375rem,
	"--circle": 1000rem
) !default;
//--------------------------------------------------------------//
//  Breakpoints
//--------------------------------------------------------------//
$breakpoints      : (
	'sm__': globals.$phone,
	'md__': globals.$tablet,
	'lg__': globals.$laptop,
	'xl__': globals.$desktop,
) !default;
//--------------------------------------------------------------//
//  Colors
//--------------------------------------------------------------//
$colorsLight      : (
	'accent' : #0B5FFF,
	'info' : globals.$info,
	'danger' : globals.$danger,
	'success' : globals.$success,
	'warning' : globals.$warning,
) !default;

$colorsDark       : (
	"accent": #1FB6FF,
	'info' : globals.$info,
	'danger' : globals.$danger,
	'success' : globals.$success,
	'warning' : globals.$warning,
) !default;
//--------------------------------------------------------------//
//  Color Themes
//--------------------------------------------------------------//
$themeLight       : (
	'body' : globals.$gray-95,
	'bg' : globals.$gray-90,
	'bgDimmed' : globals.$gray-85,
	'border' : globals.$gray-80,
	'text' : globals.$gray-10,
	'textDimmed' : globals.$gray-60,
) !default;

$themeDark        : (
	'body' : globals.$gray-5,
	'bg' : globals.$gray-10,
	'bgDimmed' : globals.$gray-15,
	'border' : globals.$gray-20,
	'text' : globals.$gray-90,
	'textDimmed' : globals.$gray-40,
) !default;
//--------------------------------------------------------------//
//  Cursor
//--------------------------------------------------------------//
$cursors-basic    : (
	"auto": auto,
	"grab": grab,
	"grabbing": grabbing,
	"none": none,
	"not-allowed": not-allowed,
	"pointer": pointer,
) !default;

$cursors-extended : (
	"alias": alias,
	"all-scroll": all-scroll,
	"auto": auto,
	"cell": cell,
	"context-menu": ontext-menu,
	"col-resize": col-resize,
	"copy": copy,
	"crosshair": crosshair,
	"default": default,
	"e-resize": e-resize,
	"ew-resize": ew-resize,
	"grab": grab,
	"grabbing": grabbing,
	"help": help,
	"move": move,
	"n-resize": n-resize,
	"ne-resize": ne-resize,
	"nesw-resize": nesw-resize,
	"ns-resize": ns-resize,
	"nw-resize": nw-resize,
	"nwse-resize": nwse-resize,
	"no-drop": no-drop,
	"none": none,
	"not-allowed": not-allowed,
	"pointer": pointer,
	"progress": progress,
	"row-resize": row-resize,
	"s-resize": s-resize,
	"se-resize": se-resize,
	"sw-resize": sw-resize,
	"text": text,
	"w-resize": w-resize,
	"wait": wait,
	"zoom-in": zoom-in,
	"zoom-out": zoom-out,
) !default;
//--------------------------------------------------------------//
//  Display
//--------------------------------------------------------------//
$display          : (
	'none' : none,
	'block' : block,
	'inline' : inline,
	'inline-block': inline-block,
	'table' : table,
	'table-cell' : table-cell,
	'table-row' : table-row,
	'flow-root' : flow-root,
	'flex' : flex,
	'inline-flex' : inline-flex,
	'grid': grid,
	'inline-grid': inline-grid,
) !default;
//--------------------------------------------------------------//
//  Object Fit
//--------------------------------------------------------------//
$objectFit        : (
	'contain' : contain,
	'cover' : cover,
	'fill' : fill,
	'none' : none,
	'scale-down' : scale-down
) !default;
$object-position  : (
	'center' : center,
	'top' : top,
	'bottom' : bottom,
	'left' : left,
	'right' : right,
	'left-top' : left top,
	'left-bottom' : left bottom,
	'right-top' : right top,
	'right-bottom' : right bottom,
) !default;
//--------------------------------------------------------------//
//  Positions
//--------------------------------------------------------------//
$positions        : (
	'static' : static,
	'relative': relative,
	'fixed' : fixed,
	'absolute' : absolute,
	'sticky': sticky
) !default;
$positions-values : (
	'0' : 0,
	'auto': auto
) !default;
//--------------------------------------------------------------//
//  Spacers
//--------------------------------------------------------------//
$spacers          : (
	'0' : 0,
	'10' : 0.625rem, // 10px
	'15' : 0.9375rem, // 15px
	'xs' : 0.25rem, // 4px
	'sm' : 0.5rem, // 8px
	'md' : 1rem, // 16px
	'lg' : 1.5rem, // 24px
	'xl' : 2rem, // 32px
	'xxl': 2.5rem, // 40px
) !default;
//--------------------------------------------------------------//
// Style Attribute
//--------------------------------------------------------------//
$style-attribute  : (
	'text' : color,
	'bg' : background-color,
	'fill' : fill,
	'brd' : border-color
) !default;

//--------------------------------------------------------------//
//  Transitions
//--------------------------------------------------------------//
$transitions      : (
	'': 'background-color, border-color, color, fill, stroke, opacity, box-shadow, transform',
	'--colors' : 'background-color, border-color, color, fill, stroke',
	'--all': all
) !default;
//--------------------------------------------------------------//
//  Typography
//--------------------------------------------------------------//
$typography       : (
	'small': globals.$small,
	'h6' : globals.$h6,
	'h5' : globals.$h5,
	'h4' : globals.$h4,
	'h3' : globals.$h3,
	'h2' : globals.$h2,
	'h1' : globals.$h1
);

$font-sizes       : (
	'xl-1': 3rem,
	'xl-2': 4rem,
	'xl-3': 6rem,
) !default;
//--------------------------------------------------------------//
// Width
//--------------------------------------------------------------//
$width            : (
	'100' : 100%,
	'75' : 75%,
	'50' : 50%,
	'25' : 25%
) !default;
$vWidth           : (
	'100' : 100vw,
	'75' : 75vw,
	'50' : 50vw,
	'25' : 25vw
) !default;
$height           : (
	'100' : 100%,
	'75' : 75%,
	'50' : 50%,
	'25' : 25%
) !default;
$vHeight          : (
	'100' : 100vh,
	'75' : 75vh,
	'50' : 50vh,
	'25' : 25vh
) !default;
//--------------------------------------------------------------//
//  Z-index
//--------------------------------------------------------------//
$z-index          : (
	'1': 1000,
	'2': 2000,
	'3': 3000,
	'4': 4000,
	'5': 5000,
	'6': 6000,
	'7': 7000,
	'8': 8000,
	'9': 9000,
) !default;
