//--------------------------------------------------------------//
// Utilities Options
//--------------------------------------------------------------//
$use__align-items                 : true !default;
$align-items__use-breakpoints     : true !default;

$use__justify-items               : true !default;
$justify-items__use-breakpoints   : true !default;

$use__align-content               : true !default;
$align-content__use-breakpoints   : true !default;

$use__justify-content             : true !default;
$justify-content__use-breakpoints : true !default;

$use__align-self                  : true !default;
$align-self__use-breakpoints      : true !default;

$use__justify-self                : true !default;
$justify-self__use-breakpoints    : true !default;

$use__borders                     : true !default;
$borders__use-breakpoints         : false !default;

$use__border-radius               : true !default;
$border-radius__use-breakpoints   : false !default;

$use__color-styles                : true !default;
$color-styles__use-breakpoints    : false !default;

$use__display                     : true !default;
$display__use-breakpoints         : true !default;

$use__flex-direction              : true !default;
$flex-direction__use-breakpoints  : true !default;

$use__flex-fill                   : true !default;
$flex-fill__use-breakpoints       : true !default;

$use__flex-grow                   : true !default;
$flex-grow__use-breakpoints       : true !default;

$use__flex-shrink                 : true !default;
$flex-shrink__use-breakpoints     : true !default;

$use__flex-wrap                   : true !default;
$flex-wrap__use-breakpoints       : true !default;

$use__object-fit                  : true !default;
$object-fit__use-breakpoints      : true !default;

$use__object-position             : true !default;
$object-position__use-breakpoints : true !default;

$use__position                    : true !default;
$position__use-breakpoints        : true !default;

$use__pos-placement               : true !default;
$pos-placement__use-breakpoints   : true !default;

$use__screen-readers              : true !default;
$screen-readers__use-breakpoints  : true !default;

$use__spacers                     : true !default;
$spacers__use-breakpoints         : true !default;

$use__fontSizes                   : true !default;
$fontSizes__use-breakpoints       : true !default;

$use__fontWeights                 : true !default;
$fontWeights__use-breakpoints     : true !default;

$use__text-align                  : true !default;
$text-align__use-breakpoints      : true !default;

$use__width                       : true !default;
$width__use-breakpoints           : true !default;

$use__zIndex                      : true !default;
$zIndex__use-breakpoints          : false !default;
