$use-align-items            : true !default;
$align-items-use-breakpoints     : true !default;

$use-justify-items          : true !default;
$justify-items-use-breakpoints   : true !default;

$use-align-content          : true !default;
$align-content-use-breakpoints   : true !default;

$use-justify-content        : true !default;
$justify-content-use-breakpoints : true !default;

$use-align-self             : true !default;
$align-self-use-breakpoints      : true !default;

$use-justify-self           : true !default;
$justify-self-use-breakpoints    : true !default;

$use-borders                : true !default;
$borders-use-breakpoints         : false !default;

$use-color-styles           : true !default;
$color-styles-use-breakpoints    : false !default;

$use-display                : true !default;
$display-use-breakpoints         : true !default;

$use-flex-direction         : true !default;
$flex-direction-use-breakpoints  : true !default;

$use-flex-fill              : true !default;
$flex-fill-use-breakpoints       : true !default;

$use-flex-grow              : true !default;
$flex-grow-use-breakpoints       : true !default;

$use-flex-shrink            : true !default;
$flex-shrink-use-breakpoints     : true !default;

$use-flex-wrap              : true !default;
$flex-wrap-use-breakpoints       : true !default;

$use-object-fit             : true !default;
$object-fit-use-breakpoints      : true !default;

$use-object-position        : true !default;
$object-position-use-breakpoints : true !default;

$use-position               : true !default;
$position-use-breakpoints        : true !default;

$use-spacers                : true !default;
$spacers-use-breakpoints         : true !default;

$use-fontSizes              : true !default;
$fontSizes-use-breakpoints       : true !default;

$use-fontWeights            : true !default;
$fontWeights-use-breakpoints     : true !default;

$use-text-align             : true !default;
$text-align-use-breakpoints      : true !default;

$use-width                  : true !default;
$width-use-breakpoints           : true !default;

$use-zIndex                 : true !default;
$zIndex-use-breakpoints          : false !default;
