@use "maps";
@use "functions-mixins/mixins" as mx;

$colorsLight : maps.$colorsLight !default;
$themeLight  : maps.$themeLight !default;
$colorsDark  : maps.$colorsDark !default;
$themeDark   : maps.$themeDark !default;

@include mx.color-styles($map : $colorsLight, $element : body);
@include mx.color-styles($map : $themeLight, $element : body);

@include mx.color-styles($map : $colorsDark, $element : body, $themeName : dark);
@include mx.color-styles($map : $themeDark, $element : body, $themeName : dark);

body {
  background-color : var(--body);
  color            : var(--text);

  &.transition {
	transition : all 400ms ease-in-out;
  }
}

a {
  text-decoration : none;
  color           : var(--accent);
  transition      : color 250ms ease;
}
