@use "globals";
@use "functions-mixins/mixins" as mx;

$headingFont         : globals.$headingFont !default;
$headingLineHeight   : globals.$headingLineHeight !default;
$headingFontWeight   : globals.$headingFontWeight !default;
$paragraphLineHeight : globals.$paragraphLineHeight !default;
$highlight           : globals.$highlight !default;

@include mx.typography();
h1, h2, h3, h4, h5, h6 {
  font-family : $headingFont;
  line-height : $headingLineHeight;
  font-weight : $headingFontWeight;
}

p {
  line-height : $paragraphLineHeight;
}

mark {
  background-color : $highlight;
}
