@use "settings";
@use "mixins" as mx;

$headingFont       : settings.$headingFont !default;
$headingLineHeight : settings.$headingLineHeight !default;
$headingFontWeight : settings.$headingFontWeight !default;
$lineHeight        : settings.$pLineHeight !default;
$highlight         : settings.$highlight !default;

h1, h2, h3, h4, h5, h6 {
  font-family : $headingFont;
  line-height : $headingLineHeight;
  font-weight : $headingFontWeight;
}

@include mx.makeUtil("font-size", null, settings.$typography, null);

@each $type, $size in settings.$typography {
  #{$type} {
	font-size : #{$size}
  }
}

p {
  line-height : $lineHeight;
}

mark {
  background-color : $highlight;
}

a {
  text-decoration : none;
  color           : var(--accent);
  transition      : color 250ms ease;
}
