@use "maps";
@use "options" as opt;
@use "functions-mixins/mixins" as mx;
@forward "themes";
$breakpoints : maps.$breakpoints !default;

.flex--center {
  @extend .flex;
  @extend .#{opt.$align-items__prefix}center;
}

.flex--center-middle {
  @extend .flex;
  @extend .#{opt.$align-items__prefix}center;
  @extend .#{opt.$justify-content__prefix}center;
}
//------------------------------------
@include mx.align-content(
	$enable : opt.$enable__align-content,
);
//------------------------------------
@include mx.align-items(
	$enable : opt.$enable__align-items,
);
//------------------------------------
@include mx.align-self(
	$enable : opt.$enable__align-self,
);
//------------------------------------
@include mx.borders(
	$enable : opt.$enable__borders,
);
//------------------------------------
@include mx.border-radius(
	$enable : opt.$enable__border-radius,
);
//------------------------------------
@include mx.cursor(
	$enable : opt.$enable__cursor
);
//------------------------------------
@include mx.display(
	$enable : opt.$enable__display,
);
//------------------------------------
@include mx.flex-direction(
	$enable : opt.$enable__flex-direction
);
//------------------------------------
@include mx.flex-fill(
	$enable : opt.$enable__flex-fill
);
//------------------------------------
@include mx.flex-grow(
	$enable : opt.$enable__flex-grow
);
//------------------------------------
@include mx.flex-shrink(
	$enable : opt.$enable__flex-shrink
);
//------------------------------------
@include mx.flex-wrap(
	$enable : opt.$enable__flex-wrap
);

@include mx.grid(
	$enable : opt.$enable__flex-grid
);

@include mx.grid-offset(
	$enable : opt.$enable__flex-grid-offset
);

@include mx.grid-order(
	$enable : opt.$enable__flex-grid-order
);
//------------------------------------
@include mx.height(
	$enable : opt.$enable__height
);
//------------------------------------
@include mx.justify-content(
	$enable : opt.$enable__justify-content,
);
//------------------------------------
@include mx.justify-items(
	$enable : opt.$enable__justify-items,
);
//------------------------------------
@include mx.justify-self(
	$enable : opt.$enable__justify-self,
);

@include mx.object-fit(
	$enable : opt.$enable__object-fit
);

@include mx.object-position(
	$enable : opt.$enable__object-position
);

@include mx.position(
	$enable : opt.$enable__position
);

@include mx.position-placement(
	$enable : opt.$enable__position-placement
);

@include mx.screen-readers(
	$enable : opt.$enable__screen-readers
);
//------------------------------------
@include mx.spacers(
	$enable : opt.$enable__spacers
);
//------------------------------------
@include mx.margin-auto(
	$enable : opt.$enable__spacers
);

@include mx.fontSizes(
	$enable : opt.$enable__fontSizes
);

@include mx.fontWeights(
	$enable : opt.$enable__fontWeights
);

@include mx.text-align(
	$enable : opt.$enable__text-align
);

@include mx.transitions(
	$enable : opt.$enable__transitions
);
//------------------------------------
@include mx.width(
	$enable : opt.$enable__width
);

@include mx.zIndex(
	$enable : opt.$enable__zIndex
);

@each $name, $size in $breakpoints {
  @media (min-width : $size) {

	@include mx.align-content(
		$breakpoint : $name,
		$enable     : opt.$enable__align-content and opt.$align-content__use-breakpoints
	);

	@include mx.align-items(
		$breakpoint : $name,
		$enable     : opt.$enable__align-items and opt.$align-items__use-breakpoints
	);

	@include mx.align-self(
		$breakpoint : $name,
		$enable     : opt.$enable__align-self and opt.$align-self__use-breakpoints
	);

	@include mx.borders(
		$breakpoint : $name,
		$enable     : opt.$enable__borders	and opt.$borders__use-breakpoints
	);

	@include mx.border-radius(
		$breakpoint : $name,
		$enable     : opt.$enable__border-radius and opt.$border-radius__use-breakpoints
	);

	@include mx.color-styles(
		$breakpoint : $name,
		$enable     : opt.$enable__color-styles and opt.$color-styles__use-breakpoints
	);

	@include mx.cursor(
		$breakpoint : $name,
		$enable     : opt.$enable__cursor and opt.$cursor__use-breakpoints
	);

	@include mx.display(
		$breakpoint : $name,
		$enable     : opt.$enable__display	and opt.$display__use-breakpoints
	);

	@include mx.flex-direction(
		$breakpoint : $name,
		$enable     : opt.$enable__flex-direction and opt.$flex-direction__use-breakpoints
	);

	@include mx.flex-fill(
		$breakpoint : $name,
		$enable     : opt.$enable__flex-fill and opt.$flex-fill__use-breakpoints
	);

	@include mx.flex-grow(
		$breakpoint : $name,
		$enable     : opt.$enable__flex-grow and opt.$flex-grow__use-breakpoints
	);

	@include mx.flex-shrink(
		$breakpoint : $name,
		$enable     : opt.$enable__flex-shrink	and opt.$flex-shrink__use-breakpoints
	);

	@include mx.flex-wrap(
		$breakpoint : $name,
		$enable     : opt.$enable__flex-wrap and opt.$flex-wrap__use-breakpoints
	);

	@include mx.grid(
		$breakpoint : $name,
		$enable     : opt.$enable__flex-grid and opt.$flex-grid__use-breakpoints
	);

	@include mx.grid-offset(
		$breakpoint : $name,
		$enable     : opt.$enable__flex-grid-offset and opt.$flex-grid-offset__use-breakpoints
	);

	@include mx.grid-order(
		$breakpoint : $name,
		$enable     : opt.$enable__flex-grid-order and opt.$flex-grid-order__use-breakpoints
	);

	@include mx.height(
		$breakpoint : $name,
		$enable     : opt.$enable__height and opt.$height__use-breakpoints
	);

	@include mx.justify-content(
		$breakpoint : $name,
		$enable     : opt.$enable__justify-content and opt.$justify-content__use-breakpoints
	);

	@include mx.justify-items(
		$breakpoint : $name,
		$enable     : opt.$enable__justify-items and opt.$justify-items__use-breakpoints
	);

	@include mx.justify-self(
		$breakpoint : $name,
		$enable     : opt.$enable__justify-self and opt.$justify-self__use-breakpoints
	);

	@include mx.object-fit(
		$breakpoint : $name,
		$enable     : opt.$enable__object-fit and opt.$object-fit__use-breakpoints
	);

	@include mx.object-position(
		$breakpoint : $name,
		$enable     : opt.$enable__object-position	and opt.$object-position__use-breakpoints
	);

	@include mx.position(
		$breakpoint : $name,
		$enable     : opt.$enable__position and opt.$position__use-breakpoints
	);

	@include mx.position-placement(
		$breakpoint : $name,
		$enable     : opt.$enable__position-placement and opt.$position-placement__use-breakpoints
	);

	@include mx.screen-readers(
		$breakpoint : $name,
		$enable     : opt.$enable__screen-readers and opt.$screen-readers__use-breakpoints
	);

	@include mx.spacers(
		$breakpoint : $name,
		$enable     : opt.$enable__spacers and opt.$spacers__use-breakpoints
	);

	@include mx.margin-auto(
		$breakpoint : $name,
		$enable     : opt.$enable__spacers and opt.$spacers__use-breakpoints
	);

	@include mx.fontSizes(
		$breakpoint : $name,
		$enable     : opt.$enable__fontSizes and opt.$fontSizes__use-breakpoints
	);

	@include mx.fontWeights(
		$breakpoint : $name,
		$enable     : opt.$enable__fontWeights and opt.$fontWeights__use-breakpoints
	);

	@include mx.text-align(
		$breakpoint : $name,
		$enable     : opt.$enable__text-align and opt.$text-align__use-breakpoints
	);

	@include mx.transitions(
		$breakpoint : $name,
		$enable     : opt.$enable__transitions and opt.$transitions__use-breakpoints
	);

	@include mx.width(
		$breakpoint : $name,
		$enable     : opt.$enable__width and opt.$width__use-breakpoints
	);

	@include mx.zIndex(
		$breakpoint : $name,
		$enable     : opt.$enable__zIndex and opt.$zIndex__use-breakpoints
	);
  }
}
