@use "../../settings" as st;

$clrInput           : st.$white !default;
$clrInputDark       : st.$gray-5 !default;
$clrInputBorder     : st.$gray-80 !default;
$clrInputBorderDark : st.$gray-20 !default;

body {
  --input       : #{$clrInput};
  --inputBorder : #{$clrInputBorder};
}

body[data-theme="dark"] {
  --input       : #{$clrInputDark};
  --inputBorder : #{$clrInputBorderDark};
}

input {
  &:not(.password-input) {
	padding-right : map-get(st.$spacers, "15");
  }

  padding-left     : map-get(st.$spacers, "15");
  padding-top      : map-get(st.$spacers, "10");
  padding-bottom   : map-get(st.$spacers, "10");
  max-width        : 100%;
  width            : 100%;
  border           : none;
  background-color : var(--input);
  color            : var(--text);
  transition       : box-shadow st.$transition-timing;

  &:focus {
	outline    : none;
	box-shadow : 0 0 0 2px var(--inputBorder);
  }
}

textarea {
  @extend input;
  height : auto;
}

select {
  @extend input;
  -moz-appearance     : none;
  -webkit-appearance  : none;
  appearance          : none;
  background-image    : url("data:image/svg+xml;utf8,<svg viewBox='0 0 120 120' width='32' height='32' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%23222'/></g></svg>");
  background-repeat   : no-repeat, repeat;
  background-position : right 1.25em top 50%, 0 0;
  background-size     : 0.65em auto, 100%;
}

body[data-theme="dark"] {
  select {
	background-image : url("data:image/svg+xml;utf8,<svg viewBox='0 0 120 120' width='32' height='32' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%23eee'/></g></svg>");
  }

  ::-webkit-calendar-picker-indicator, {
	filter : invert(1);
  }
}

legend {
  display       : block;
  margin-bottom : map-get(st.$spacers, "md");
}

.password-input {
  position : relative;

  input {
	padding-right : map-get(st.$spacers, "xxl");
  }

  .button {
	margin    : 0;
	position  : absolute;
	left      : 50%;
	transform : translateX(-50%);
	right     : 10px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover {
  border                  : 1px solid var(--input);
  -webkit-text-fill-color : var(--text);
  -webkit-box-shadow      : 0 0 0 1000px var(--input) inset;
  transition              : background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-text-fill-color : var(--text);
  transition              : background-color 5000s ease-in-out 0s;
  -webkit-box-shadow      : 0 0 0 2px var(--inputBorder), 0 0 0 1000px var(--input) inset;
}
