@use "../../functions" as acc;
@use "../../settings" as st;
@use "../../utilities/colors" as clr;

.input-wrapper {
  &__label {
	display       : block;
	font-size     : st.$small;
	margin-bottom : map-get(st.$spacers, "xs");
	padding       : 0 map-get(st.$spacers, "md");
  }

  &__error {
	color     : var(--danger);
	padding   : map-get(st.$spacers, "xs") map-get(st.$spacers, "md") 0;
	font-size : st.$small;
  }

  &__description {
	color      : var(--textDimmed);
	font-size  : st.$small;
	margin-top : map-get(st.$spacers, "xs");
	padding    : 0 map-get(st.$spacers, "md");
  }
}
