@use "../../util-constructor";
@use "../../globals";

$activeBG    : globals.$primary !default;
$inactiveBG  : globals.$gray-50 !default;
$buttonColor : #fff !default;

.switch {
  overflow : hidden;

  &__checkbox {
	height  : 0;
	width   : 0;
	display : none;

	&:checked + .switch__label {
	  background : $activeBG;
	}

	&:checked + .switch__label .switch__button {
	  left      : calc(100% - 2px);
	  transform : translateX(-100%);
	}
  }

  &__label {
	@extend .relative;
	@extend .flex--center;
	@extend .jf__cnt--between;
	@extend .cursor--pointer;
	@extend .round--circle;
	@extend .transition--colors;
	background : $inactiveBG;

	.switch__button {
	  content    : "";
	  @extend .absolute;
	  @extend .round--circle;
	  top        : 2px;
	  left       : 2px;
	  transition : globals.$transition-timing;
	  background : $buttonColor;
	  box-shadow : 0 0 2px 0 rgba(10, 10, 10, 0.3);
	}
	&.xs {
	  width  : 24px;
	  height : 16px;

	  .switch__button {
		width  : 12px;
		height : 12px;

		&:active {
		  width : 16px;
		}
	  }
	}
	&.sm {
	  width  : 40px;
	  height : 24px;

	  .switch__button {
		width  : 20px;
		height : 20px;

		&:active {
		  width : 30px;
		}
	  }
	}

	&.md {
	  width  : 50px;
	  height : 29px;

	  .switch__button {
		width  : 25px;
		height : 25px;

		&:active {
		  width : 35px;
		}
	  }
	}

	&.lg {
	  width  : 60px;
	  height : 34px;

	  .switch__button {
		width  : 30px;
		height : 30px;

		&:active {
		  width : 40px;
		}
	  }
	}

	&.xl {
	  width  : 70px;
	  height : 39px;

	  .switch__button {
		width  : 35px;
		height : 35px;

		&:active {
		  width : 45px;
		}
	  }
	}
  }
}
